collections_config:
  pages:
    path: pages
    name: Pages
    icon: wysiwyg
    editor:
      schema:
        - name: layout
          label: Layout
          type: hidden
          default: layouts/page.njk
        - name: section
          label: Sekcja
          type: hidden
          default: page
        - name: title
          label: Tytuł
          type: text
        - name: permalink
          label: Permalink
          type: text
        - name: date
          label: Data
          type: datetime
        - name: eleventyNavigation
          label: Nawigacja
          type: object
          schema:
            - name: key
              label: Klucz
              type: text
            - name: order
              label: Kolejność
              type: number
              default: 0
        - name: blocks
          label: Bloki
          type: include
          options:
            path: blocks
            label: title
            value: _id
          multiple: true

  admin:
    path: admin
    name: Admin
    icon: adb

  posts:
    path: posts
    name: Posts
    icon: event_available

  data:
    path: _data
    name: Data
    icon: data_usage
    disable_url: true
    disable_add: true
    disable_add_folder: true
    disable_file_actions: true

  blocks:
    path: blocks
    name: Bloki
    icon: view_module
    editor:
      type: component
      label: Typ bloku
      component_fields:
        - name: type
          label: Typ bloku
          type: select
          options:
            - galeria
            - film
            - kafel
            - tekst
            - obraz_z_podpisem

  bloki:
    path: blocks
    name: Bloki
    icon: view_module
    editor:
      schema: blocks/blocks_schema.yml

paths:
  static: ''
  uploads: uploads

timezone: Europe/Warsaw

markdown:
  engine: commonmark
  options:
    html: true
