<section class="video-section">
  <h2>{{ title }}</h2>
  <div class="video-wrapper">
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/{{ youtube_id }}" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
