<head>
  <meta charset="utf-8">
  <meta name="generator" content="{{ eleventy.generator }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ metadata.description or eleventyComputed.metaDescription or metadata.description }}">
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>

  <!-- Czcionka Montserrat i styl nawigacji -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <style>
    body, nav, header {
      font-family: 'Montserrat', sans-serif;
    }

    nav a {
      color: white;
      font-size: 18px;
      font-weight: 500;
      padding: 0 15px;
      text-decoration: none;
    }

    nav a:hover {
      text-decoration: underline;
    }
  </style>
</head>