<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

<header style="display: flex; align-items: center; justify-content: space-between; padding: 10px 30px; background: #fff; border-bottom: 1px solid #eee;">
  <a href="{{ '/' | url }}">
    <img src="/logo.png" alt="Life is back – Anna Mach" style="height: 60px;">
  </a>

  <nav style="flex: 1; text-align: right;">
    {% include "components/nav.njk" %}
  </nav>
</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
