---
layout: layouts/base.njk
section: page
---

{% extends "layouts/base.njk" %}

{% block content %}
  <main>
    <h1>{{ title }}</h1>

    {% for block in blocks %}
      {% set template = "blocks/" + block.type + ".njk" %}
      {% include template %}
    {% endfor %}

  </main>
{% endblock %}
